$primary-color : #0f1c70;
$secondary-color: #ff4676; 
$accent-yellow: #ffe430;
$accent-blue: #17d5d1;

.item {
  height: 100%;
  min-width: 30vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 0;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.55);
}

#itemContainer {
  cursor: pointer;
  box-shadow: inset 0 0 0 50vw rgba($color: $accent-yellow, $alpha: 0.85);
  margin-right: 5vw;
  max-height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  //margin-bottom: 2.5vh;
  border-radius: 20px;
  margin-bottom: 2vh;
}

#itemContainerMobile {
  box-shadow: inset 0 0 0 50vw rgba($color: $accent-yellow, $alpha: 0.85);
  margin-right: 5vw;
  max-height: 60%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  //margin-bottom: 2.5vh;
  border-radius: 20px;
  margin-bottom: 2vh;
}

.itemMobile {
  height: 100%;
  min-width: 70vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 0;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.55);
}

.description {
  color: $secondary-color;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2vh;
  z-index: 2;
  font-size: 1em;
}

.itemText {
  color: $secondary-color;
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 0;
  flex-wrap: wrap;
  margin-top: 2vh;
  z-index: 2;
  text-align: center;
  word-break: break-all;
}

.languagesImg {
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  height: auto;
  width: 20%;
}

#languagesDiv {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
