
$secondary-color: #ff4676;
$primary-color: #0f1c70;

#reposList {
  display: flex;
  flex-direction: row;
  height: 45vh;
  overflow: auto;
}

#reposList::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}
#reposList::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
  height: 5px;
}

body {
  font-family: VarelaRound;
}

.scrollable {
  height: 100%;
  overflow: auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  background-color: $primary-color;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
}

.option {
  cursor: pointer;
  margin-right: 10vw;
  margin-left: 5vw;
  color: $secondary-color;
}
