
$secondary-color: #999999;
$primary-color: #0f1c70;

#reposList {
  display: flex;
  flex-direction: row;
  height: 45vh;
  overflow: auto;
  align-items: center;
}

#reposList::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}
#reposList::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  border-radius: 5px;
  height: 5px;
}

body {
  font-family: VarelaRound;
}

.scrollable {
  height: 100%;
  overflow: auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  background-color: rgba(32, 42, 68, 1);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  background-color: rgba(32, 42, 68, 1);
  width: 100%;
  z-index: 10;
}

.option {
  cursor: pointer;
  margin-right: 10vw;
  margin-left: 5vw;
  color: #777777;
}
