.detailViewContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: #17d5d1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImg {
  border-radius: 25px;
  margin-top: 10vh;
  width: 80vw;
}

.bioDiv {
  margin-top: 10vh;
}

.backBtn {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
}

.projectsDiv {
  display: flex;
    flex-direction: row;
    /* margin: 1vw; */
    width: 80vw;
    flex-wrap: wrap;
    margin-bottom: 4vh;
}

.projectItemContainer {
  margin-bottom: 2vh;
  margin-right: 2vw;
  display: flex;
  /* max-width: 20vw; */
  min-width: 18vw;
  max-width: 18vw;
  height: 25vh;
  /* width: 20vw; */
  flex-direction: column;
  flex: 1 1;
  flex-wrap: wrap;
}

.textDiv {
  width: 80vw;
}

.projectInfo {
  color:  #0f1c70;
  margin-bottom: 0;
}

#title {
  font-size: 3vw;
  margin-bottom: 0;
}
#description {
  margin-left: 1vw;
}
.infoListDiv {
  display: flex;
}

#infoTitle {
  font-weight: bolder;
}
#infoValue {
  margin-left: 0.5vw;
}

#descriptionLong {
  max-width: 50vw;
}

#projectsTitle {
  font-size: 2vw;
  font-weight: bolder;
  margin-top: 10vh;
  margin-bottom: 2vh;
  display: flex;
  align-self: flex-start;
  margin-left: 10vw;
}

.screenshot {
  border-radius: 25px;
  width:20vw;
  margin-right: 5vw;
  margin-top: 5vh;
}
