$accent-yellow: #ffe430;
$secondary-color: #ff4676;

.introContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $accent-yellow;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
    max-width: 50vw;
    background-color: $accent-yellow;
}

.introImg {
    height: 20vh;
}

.images {
    display: flex;
}

.bio {
    color: $secondary-color;
    font-size: 1.1em;
    max-width: 35vw;
    line-height: 2.5vh;
    max-height: 50vh;
    overflow: hidden
}

.title {
    color: $secondary-color;
    font-size: 5em;
    justify-self: flex-start;
}