$secondary-color: #999999;

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#contentText {
    color: $secondary-color;
    font-weight: bolder;
    font-size: 5vw;
    margin-bottom: 8vh;
    margin-left: 3vw;
}

.repoItemContainer {
    height: 70%;
    min-width: 25%;
    display: flex;
    margin-left: 4vw;
    flex-direction: column;
}

.repoItemContainerMobile {
    min-height: 100%;
    width: 100%;
    display: flex;
    margin-left: 4vw;
    flex-direction: column;
    justify-content: center;
}
